body {
    background: url(../img/moto.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: rgb(255, 255, 255)
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.main {
    overflow-x: hidden;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 150px;
}

.header {
    font-family: 'Playfair Display', sans-serif;
}

.story {
    margin: 0;
    font-size: 189px;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 36px;
}

.top-bar {
    position: absolute;
    transform: translate(-50%);
    top: 0;
    left: 50%;
    -webkit-box-shadow: 0px 40px 38px -8px rgba(156, 158, 158, 0.74);
    -moz-box-shadow: 0px 40px 38px -8px rgba(156, 158, 158, 0.74);
    box-shadow: 0px 40px 38px -8px rgba(156, 158, 158, 0.74);
    width: 300px;
    height: 130px;
    background-color: #218a83;
    text-align: center;
}

.marcy {
    padding: 25px;
    margin: 0;
    font-size: 72px;
    color: white
}

.nav-menu {
    display: none;
}

.div-text {
    max-width: 455px;
    padding-top: 28px;
}

.title {
    color: #48ff76;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text__title {
    font-size: 36px;
    line-height: 50px;
    margin-top: 4px;
    color: #48ff76;
}

.text__box {
    margin-top: 61px;
    max-width: 428px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;

}

.text {
    color: #fdffff;
    font-size: 24px;
    line-height: 40px;
}

.link {
    display: block;
    background-color: #0a8a81;
    width: 167px;
    height: 25px;
    padding: 15px 0 4px 34px;
    color: #ffff;
    text-decoration: none;
    border-radius: 46px;
    margin-top: 65px;
    text-transform: uppercase;
    margin-left: -10px;
    position: relative;
}

.link svg {
    position: absolute;
    width: 27px;
    right: 30px;
    top: 9px;
}

.link svg path {
    fill: #fff !important;
}

.img-blog {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.img-blog img {
    width: 810px;
}

.row {
    position: relative;
}

.right__img-box {
    position: absolute;
    right: -289px;
    top: 64px;
}
.container__text-center{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 150px;
}

.img__two {
    width: 340px;
    height: 220px;
    background-color: #17837d;
    position: absolute;
    top: 60px;
    right: 600px;
    border: 15px #fff solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.titlt-two {
    color: #48ff76;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.text_title-two {
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    margin-top: 4px;
    color: #48ff76;
}

.img__blog-two {
    margin: 30px 0;
}

.image-two {
    max-width: 1440px;
    /* margin: 50px; */
    border: 15px #fff solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text__box-two {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

/* new style */

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    position: absolute;
    top: 100px;
    left: -200px;
    opacity: 0;
    width: 200px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: left .3s ease-in-out, opacity .3s ease-in-out;
}

.header__menu.header__menu-active {
    opacity: 1;
    left: 150px;
}

.header__menu-link {
    color: #fdffff;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
}

.header__btn {
    width: 20px;
    height: 15px;
    position: relative;
    cursor: pointer;
}

.header__btn-line {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
}

.header__btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.header__btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;
}

.video {
    margin-top: 20px;
    width: 100%;
    height: 700px;
    background-image: url(../img/133589-motokross-fristajl_motokross-ekstremalnyj_vid_sporta-motocikl-motocikletnye_shlemy-3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-fill {
    width: 78px;
    height: 79px;
}

.form {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fdffff;
    font-size: 25px;
}

.form__title {
    margin-bottom: 30px;
}

.form__inputs {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
}

.form__btn {
    display: block;
    background-color: #0a8a81;
    padding: 10px 50px;
    color: #ffff;
    text-decoration: none;
    border-radius: 46px;
    text-transform: uppercase;
}

/* new style */